<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Zachary Kurmas</title>
    <style>
      <%= $d.general.site_css %>

      #headerContainer {
        text-align: center;
        width: 100%;
        display: inline;
      }

      #headerSpan {
        display: table;
        width: 50%;
        margin: 0 auto;
      }

      #headerContainer img {
        display: inline;
        padding: 10px;
        vertical-align: middle;
      }

      #headerContainer .headerName {
        font-family: arial, sans-serif;
        font-size: 48px;
        font-weight: bold;
        padding-top: 10px;
      }

        .pastCourses {
      border: 1px solid #f2f2f2;
      border-collapse: collapse;
        }

      .pastCourses th {
        padding-right: 35px;
        text-align: left;
      }

      .pastCourses td {
        text-align: left;
        vertical-align: top;
        padding-right: 35px;
        padding-top: 3px;
        padding-bottom: 3px;
      }

        .pastCourses tr:nth-child(even) {
      background-color: #f2f2f2;
        }
    </style>
  </head>
  <body>
    <%= $k.render('nav.html.erb') %>
    <% 
  courses = {
    # !!! Year is the start of the _academic_ year. So, courses[2023][:winter] is actually _W24_
    2023 => {
      fall: [:CIS500],
      winter: [],
      ss: []
    },
    2022 =>  {
      fall: [ :CIS343, :CIS371  ],
      winter: [ :CIS343, :CIS371  ],
      ss: []
    },
    2021 => {
      fall: [:CIS351],
      winter: [:CIS351],
      ss: [],
    },
    2020 => {
     fall: [:CIS351],
      winter: [:CIS351],
      ss: [:CIS163],
    },
    2019 => {
     fall: [:CIS263, :CIS451],
      winter: [:CIS371, :CIS658],
      ss: [:CIS163],
    },
    2018 => {
     fall: [:CIS162, :CIS351],
      winter: [:CIS451, :CIS658],
      ss: [],
    },

  }
%>
    <main id="content">
      <div id='headerContainer' role="heading" aria-level="1">
        <span id='headerSpan'>
          <img src="Images/gvsu-blue.jpg" alt="GVSU Logo">
          <span class="headerName"> Zack Kurmas</span>
          <img src="Images/buzz1.jpg" alt="Georgia Tech Logo">
        </span>
      </div>
      <h2 id="Scholarship">Scholarship</h2>
      My main non-teaching activity is writing software for use in the classroom. Check out
      <dl>
        <dt><a href="Software/DLUnit/">DLUnit</a></dt>
        <dd>A JUnit-based testing framework for simulated digital logic circuits.</dd>
        <dt><a href="Software/mipsunit_munit/">MUnit</a></dt>
        <dd>A JUnit-based testing framework for MIPS assembly</dd>
      </dl>
      <p>Selected publications and presentations.</p>
      <ul>
        <li><em><a href='papers/dlunit_kurmas.pdf'>DLUnit: A Unit Testing Framework for Simulated Digital Logic Circuits</a></em>
          Paper presented at FIE 2024.</li>
        <li><em><a href="https://dl.acm.org/authorize?N23137" title="MIPSUnit: A Unit Testing Framework for MIPS Assembly">MIPSUnit:
              A Unit Testing Framework for MIPS Assembly</a></em><br>
          Paper presented at SIGCSE 2017
        </li>
        <li><em><a href="https://www.worldscientific.com/doi/10.1142/S0129626416500067">Exhaustive Community Enumeration in
              Parallel.</a></em><br>
          Journal Paper published in Parallel Processing Letters, Volume 26(2), 2016.
        </li>
        <li><em><a href="papers/kmst_enumerating_communities_2015.pdf">Enumerating Communities for a Deeper Understanding of
              Community Finding.</a></em><br>
          Paper presented at <em>2014 IEEE/WIC/ACM International Joint Conferences on Web Intelligence</em>.
        </li>
        <li id='paper1'><em>Improving
            student performance using automated testing of simulated digital logic
            circuits</em> <a href="papers/kurmas-iticse08.pdf" aria-labelledby="paper1">(pdf)</a><br>
          Paper presented at
          <a href="https://www.iticse08.fi.upm.es/" target="_top">ITiCSE 2008.</a></li>
        <li id='paper2'><em>Generating a Jump Distance Based Synthetic Disk Access Pattern</em> <A
      HREF="papers/mss06_asPublished.pdf" aria-labelledby='paper2'>(pdf)</a><br>
          Short paper and
          <a href="papers/mss06_poster.pdf">poster</a> presented at
          <a href="https://storageconference.org/2006">MSST2006</a>.
        </li>
        <li id='paper3'><em>Using the Distiller to direct the development of
            self-configuration software</em> <a HREF="papers/icac04.pdf" aria-labelledby='paper3'>(pdf)
          </a><br>
          Paper presented at
          <a HREF="https://www.autonomic-conference.org" target="_top">ICAC-04</a>
          <li id='paper4'><em>Synthesizing Representative I/O Workloads Using Iterative
              Distillation</em> <a
      href="papers/SOSP_full_poster.ppt" aria-labelledby='paper4'>(ppt)</a>.<br>
            Poster presented at
            <a href="https://www.cs.rochester.edu/sosp2003/" target="_top">SOSP03</a></li>
          <li id='paper5'><em> Synthesizing Representative I/O Workloads Using Iterative
              Distillation</em> <a HREF="papers/mascots03.pdf" aria-labelledby='paper5'>(pdf)</a>. <br>
            Paper presented at
            <a href="https://www.tk.uni-linz.ac.at/mascots2003/" target="_top">MASCOTS03</a>.
            Here are the slides from my presentation.
            <a href="papers/MASCOTS_Talk.ppt" aria-label='MASCOTS PPT slides'>(ppt)</a>.
          </li>
        </ul>
        <p><a href="publications.html"> Complete list of publications</A>, including technical reports.</p>
        <hr>
        <h2 id="Teaching">Teaching</h2>
        <table class='pastCourses'>
          <tr>
            <th>Academic Year</th>
            <th>Fall</th>
            <th>Winter</th>
            <th>Spring/Summer</th>
          </tr>
          <% courses.keys.sort {|a, b| b <=>a }.each do |year| %>
            <tr>
              <td class='ay'><%= "#{year}-#{year+1}" %></td>
              <td> <%= $d.general.semesterCourseList($d.semester.shortName('F', year), courses[year][:fall]) %></td>
              <td> <%= $d.general.semesterCourseList($d.semester.shortName('W', year+1), courses[year][:winter]) %></td>
              <td> <%= $d.general.semesterCourseList($d.semester.shortName('S', year+1), courses[year][:ss]) %></td>
            </tr>
          <% end %>
        </table>
        <hr>
        <h2 id="Advice">Advice</h2>
        <ul>
          <li><a href="papers/getTeachingJob.pdf">How to get a "teaching" position with an "R1" Ph.D.</a> (This is a pdf.)
          </ul>
          <hr>
          <h2 id="Fellowship">Fellowships, Internships, and Summer Research</h2>
          <ul>
            <li id='REU'>An REU (Research Experience for Undergraduates) is an NSF
              sponsored program where departments host groups of 10 to 20
              undergraduates to do research over the summer. Most REU
              programs provide travel, room and board, and a small stipend.
              It is a fun way to spend the summer, and a good resume builder
              (especially if you plan to go to grad school).
              <ul>
                <li><a target="_top" href="https://www.nsf.gov/crssprgm/reu/reu_search.cfm">All REU Programs</a></li>
              </ul>
            </li>
          </ul>
          <!--
  <hr>
  <h2 id="Humor">Humor</h2>

  <ul>
    <li>
      <a href="Humor/murphy.html">Murphy's Laws</a></li>

    <li>
      <a href="Humor/engin.html">Engineer Identification Test</a></li>

    <li>
      Three different takes on <a href="Humor/Election00">Election 2000</a></li>


    <li>
      <a href="Humor/ExtraCredit">Extra Credit Options</a> (for CS7100 at Georgia Tech)
    </li>
  </ul>
-->
          <hr>
          <h2 id="ContactInfo">Contact Info</h2>
          <p>Zachary Kurmas</p>
          <address>
            Department of Computer Science & Information Systems <br>
            Grand Valley State University <br>
            1 Campus Drive<br>
            Allendale, MI 49401 <br>
            <br>
            Voice: (616) 331-8688 <br>
            Fax: (616)-331-2106<br>
            e-mail: <em>"last_name first_initial"@gvsu.edu</em>
          </address>
          <hr>
          <%= $d.general.footer %>
        </main>
      </body>
    </html>
